@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb{
  background-color: rgba(0, 172, 181, 0.888);
  border-radius: 10px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@layer components {
    .btn-primary {
      @apply py-2 px-3 bg-primary text-white font-semibold text-sm shadow-sm rounded-md hover:bg-[#2f9298]  focus:outline-none disabled:bg-gray-500 ;
    } 
    .inputs{
        @apply w-full block p-2 dark:text-white border border-primary rounded-md bg-gray-50  focus:border-primary dark:bg-dark dark:border-gray-700
    }
  }

